.txt_negrita {
	font-weight: bold;
} 

.lrs li {
	list-style: none;
	display: inline-block;
} 

.lrs li a {
	padding-right: 5px;
} 

.mtpnc {
	margin-top: 115px;
}

.mbtodt {
    	display: none;
    	margin-bottom: 15px;
}


@media screen and (min-width: 315px) {  
    
    .mbtodt {
    	display: block;
	}

	.btodt {
		display: none;
	}

}

@media screen and (min-width: 992px) {  
    
    .mbtodt {
    	display: none;
	}

	.btodt {
		display: block;
	}

}

.fad {
	margin-bottom: 8px;
	display: none;
}

.negrita2{
	font-weight: bold;
}

.mtga {
	padding-top: 8px;
}

.tvpjq {
	text-align:justify; 
}

.ekko-lightbox-nav-overlay a {
    color: goldenrod;
}
.gallery-title {
    text-align: center;
	font-weight: 500;
	border-bottom: 1px dotted orange;
	margin-top: 1em;
}

.fa-square-facebook {
    font-size: 40px; /* Tamaño del icono */
    color: rgb(37, 102, 208); /* Color del icono */
}

.fa-youtube {
    font-size: 40px; /* Tamaño del icono */
    color: rgb(234, 7, 7); /* Color del icono */
}

.fa-square-instagram {
    font-size: 40px; /* Tamaño del icono */
    color: rgb(176, 41, 151); /* Color del icono */
}